# MacOS stuff
.DS_Store

# VSCode stuff
**/.vscode

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging / testing
.Python
bin/
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
pyvenv.cfg
.pytest_cache
.coverage
buildenv*